@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-primaryDark text-white px-6 py-3 rounded-full font-semibold transition;
  }

  .btn-outline {
    @apply border-2 border-white text-white px-6 py-3 rounded-full hover:bg-white hover:text-black transition;
  }

  .card-hover {
    @apply hover:-translate-y-2 transition;
  }
}
